Django>=5.0
djangorestframework
psycopg2-binary
django-cors-headers
Pillow
djangorestframework-simplejwt
requests
drf-spectacular
django-webpack-loader
django-cors-headers
django-jazzmin
stripe>=8.0.0

